@import url('https://fonts.googleapis.com/css?family=Lobster');

header{
	border: 1px solid #b5b7ba;
	background-color: #DFDFDF;
	min-width: 1200px;
	height: 40px;
	text-align: center;
	padding-top: 20px;
}

body{
	background-color: #f7f7f7;
	font-family: "Lobster";

}
.txt{
	font-size: 20px;
	color: #727792;
	padding: 30px
}
a{
	text-decoration: none;
}
h1,h4,h3{
	text-align: center;
}
.round{
	border-radius: 50%;
}
.text{
	float:right;
	font-size: 22px;
	width: 600px;	
	margin: 100px 300px 0 0;
}
footer{
	margin: auto;
	height: 100px;
	background-color: #434446;
	
}
#center{padding-bottom: 100px;}
div{
	text-align: center;
}